---
title: FAQS - Autologous Haematopoietic Stem Cell Transplantation (AHSCT) at Sheffield Teaching Hospitals
---
<section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><%= link_to "Home", "index.html" %></li>
        <li class="active">Frequently Asked Questions</li>
      </ol>
    </div>
  </div>
</div>
</section>


<section id="about">
 <div class="container">
  <div class="row">
    
    <div class="col-md-7">
    <h1 id="questions">Frequently Asked Questions</h1>
    <p>AHSCT is being investigated as a treatment for severe immune-mediated diseases particularly MS, here at Sheffield Teaching Hospitals NHS Foundation Trust.</p>
    <p>The procedure involves removing the harmful immune system cells that attack the brain and spinal cord, and then uses a person’s own bone marrow stem cells to effectively re-grow these immune system cells. The aim is that re-booting the immune system in this way will prevent further damage in the brain and spinal cord.</p>

    <ul class="faqs">
      <% data.faqs.questions.each do |f| %>
      <li><a href="#<%= f.id %>"><%= f.question %></a></li>
      <% end %>
    </ul>

    <% data.faqs.questions.each do |f| %>
      <h3 id="<%= f.id %>"><%= f.question %></h3>
      <%= f.answer %>
      <div class="clearfix">
        <a href="#questions" class="pull-right" title="Back to the Top">
          Return to Questions
        </a>
      </div>
    <% end %>
    <br>
    </div>

    
    <div class="col-md-4 col-md-offset-1">
      <aside class="page-sidebar">
        
        <div class="block" id="sidebar-faq">
          <h4>Contact details</h4>
          <ul class="list-unstyled">
            <li>Email: <a href="mailto:MsStemCell@sth.nhs.uk" target="_blank" title="Email us on MsStemCell@sth.nhs.uk">MsStemCell@sth.nhs.uk</a></li>
            <li>Tel: <a href="tel:01142266065" target="_blank" title="Call us on 0114 226 6065">0114 226 6065</a></li>
          </ul>
        </div>
        
      </aside>
    </div>
    

  </div>
</div>
</section>