---
title: Autologous Haematopoietic Stem Cell Transplantation (AHSCT) at Sheffield Teaching Hospitals
---

<section class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="jumbotron-inner">
          <h1>Autologous Haematopoietic Stem Cell Transplantation (AHSCT)</h1>
          <p class="lead">The Sheffield Obstetric Difficult Airway course, otherwise known as the SODA course, is an unique educational course.</p>
          <p> The course teaches advanced airway skills and explores human factors during emergency simulated scenarios.</p>
          <p> Our ultimate aim is to increase the safety of the obstetric patient during general anaesthesia.</p>
          <%= link_to "Find out more", "/index.html#about", class: "btn btn-lg btn-headroom btn-success visible-xs visible-sm" %>
        </div>
      </div>
      
      <div class="col-md-4 col-md-offset-1">
        <div class="card card-rounded card-jumbotron hidden-xs hidden-sm">
          <h2>12th June 2017</h2>
          <p>
            Clinical skills centre, R floor, Royal Hallamshire Hospital, Sheffield
          </p>
          <%= link_to "Download referral form", "./documents/SODA Application form.docx", class: "btn btn-block btn-wire" %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="get-involved" id="why">
 <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="subtle">Join an award winning team!</h2>
    </div>
    
    <div class="col-md-4">
      <%= image_tag "nurses-with-computers.jpg", class: "img-responsive", width: "100%" %>
      <div class="block">
        <h3>Regional centres of excellence and specialism</h3>
        <p>We offer a full range of local hospital and community health services for people in Sheffield as well as specialist hospital services to patients from further afield in our many specialist centres.</p>
      </div>
    </div>
    
    <div class="col-md-4">
      <%= image_tag "hilary.jpg", class: "img-responsive", width: "100%" %>
      <div class="block">
        <h3>Structured career pathways</h3>
        <p>We pride ourselves in growing talent. A testament to this is that most of our top nurses, including our Chief Nurse, have had the majority of their career with us. Because of this, you can be assured of an interesting and diverse career path.</p>
      </div>
    </div>

    <div class="col-md-4">
      <% link_to "documents/nurse recruitment booklet_2017.pdf" do %>
        <%= image_tag "booklet_thumbnail_5_7.jpg", class: "img-responsive", width: "100%" %>
      <% end %>
      <div class="block">
        <h3><%= link_to "Download our booklet", "documents/nurse recruitment booklet_2017.pdf" %></h3>
        <p>Thinking about joining us as a nurse? Download our nursing careers booklet to find a whole range of information about our services</p>
        <%= link_to "Download our booklet", "documents/nurse recruitment booklet_2017.pdf" %>
      </div>
    </div>

  </div>
</div>
</section>

<section class="event" id="event">
 <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="subtle">Find your next move</h2>
    </div>
    
    <div class="col-md-6">
      <div class="block">
        <h2>Next event: tbc</h2>
        <p>We are currently planning our next recruitment event.</p>
        <p><a href="http://www.jobs.nhs.uk/extsearch?client_id=121486,130334&resonly=0&max_result=100&staff_group=sg40" target="_blank">Find our full range of nursing vacancies here</a></p>
      </div>
      
      <div class="block block-info">
        <h3>Get in touch</h3>
        <p>If you have any questions about future events, or working at Sheffield Teaching Hospitals, contact us via <a href="mailto:CentralRecruitment@sth.nhs.uk">CentralRecruitment@sth.nhs.uk</a> or call (0114) 3052476</p>
      </div>
    </div>
    
    
    <div class="col-md-6">
       <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup" class="block">
            <form action="//nhs.us3.list-manage.com/subscribe/post?u=9502add7e8a515cb0c8d0bf4e&amp;id=7ee3dd26c0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
              <h2 class="brand-heading">Subscribe to our Mailing List</h2>
              <p>Sign up to our mailing list to recieve information about future events and opportunities</p>
              <div class="indicates-required pull-right"><span class="asterisk">*</span> indicates required</div>
              <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                </label>
                <input type="email" value="" class="form-control" name="EMAIL" id="mce-EMAIL">
              </div>
              <div class="mc-field-group">
                <label for="mce-FNAME">First Name</label>
                <input type="text" value="" class="form-control" name="FNAME" id="mce-FNAME">
              </div>
              <div class="mc-field-group">
                <label for="mce-LNAME">Last Name</label>
                <input type="text" value="" class="form-control" name="LNAME" id="mce-LNAME">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_9502add7e8a515cb0c8d0bf4e_7ee3dd26c0" tabindex="-1" value="">
              </div>
              <div class="clear">
                <br>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-lg btn-block btn-warning cta">
              </div>
            </form>
          </div>
          <!--End mc_embed_signup-->
    </div>

   </div>
  </div>
</section>

<section class="our-team" id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="subtle">Meet our amazing staff</h2>
      </div>

      <div class="col-md-8 col-sm-12">
        
        <% link_to "https://www.facebook.com/SheffieldTeachingHospitals/photos/a.575603449181967.1073741825.347049605370687/1373944102681227/?type=3&theater" do %>
          <%= image_tag "gemma_5_7.jpg", class: "img-responsive" %>
        <% end %>
        <div class="block">
          <%= link_to "Gemma Culverwell", "https://www.facebook.com/SheffieldTeachingHospitals/photos/a.575603449181967.1073741825.347049605370687/1373944102681227/?type=3&theater" %>
        </div> 
        
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <% link_to "https://www.facebook.com/SheffieldTeachingHospitals/photos/a.575603449181967.1073741825.347049605370687/1043220905753550/?type=3&theater" do %>
              <%= image_tag "ian_5_7.jpg", class: "img-responsive" %>
            <% end %>
            <div class="block">
              <%= link_to "Ian Kennen", "https://www.facebook.com/SheffieldTeachingHospitals/photos/a.575603449181967.1073741825.347049605370687/1043220905753550/?type=3&theater" %>
            </div> 
          </div>
          
          <div class="col-md-6 col-sm-6">
            <% link_to "https://www.facebook.com/SheffieldTeachingHospitals/photos/a.575603449181967.1073741825.347049605370687/1377570605651910/?type=3&theater" do %>
              <%= image_tag "pauline_5_7.jpg", class: "img-responsive" %>
            <% end %>
            <div class="block">
              <%= link_to "Pauline McDonald", "https://www.facebook.com/SheffieldTeachingHospitals/photos/a.575603449181967.1073741825.347049605370687/1377570605651910/?type=3&theater" %>
            </div> 
          </div>
        </div>
        
      </div>

      <div class="col-md-4">
        
        <% link_to "https://www.facebook.com/SheffieldTeachingHospitals/photos/a.575603449181967.1073741825.347049605370687/1043215339087440/?type=3&theater" do %>
          <%= image_tag "sanchia_5_7.jpg", class: "img-responsive" %>
        <% end %>
        <div class="block">
          <%= link_to "Sanchia Garcia-Perez", "https://www.facebook.com/SheffieldTeachingHospitals/photos/a.575603449181967.1073741825.347049605370687/1043215339087440/?type=3&theater" %>
        </div> 
        
        <% link_to "https://www.facebook.com/SheffieldTeachingHospitals/photos/gm.1429092177205836/1418016698273967/?type=3&theater" do %>
          <%= image_tag "alison_5_7.jpg", class: "img-responsive" %>
        <% end %>
        <div class="block">
          <%= link_to "Alison Titterton", "https://www.facebook.com/SheffieldTeachingHospitals/photos/gm.1429092177205836/1418016698273967/?type=3&theater" %>
        </div> 
        
        <div class="block block-info">
          <h3>Join #TeamSTH</h3>
          <p>Be part of an award-winning Trust</p>
          <p><a href="http://www.jobs.nhs.uk/extsearch?client_id=121486,130334&resonly=0&max_result=100" target="_blank">Find our full range of vacancies here</a></p>
        </div>
        
      </div>
      
     <div class="col-md-12">
      
    </div>

    </div>
  </div>
</section>