---
title: Autologous Haematopoietic Stem Cell Transplantation (AHSCT) at Sheffield Teaching Hospitals
---

<section class="jumbotron">
  <div class="container">
    <div class="row">
      
      <div class="col-md-12">
          <section class="block block-with-image">
            <div class="row"> 
              
              <div class="col-md-6">
                <img width="100%" alt="Holly Drewry after undertaking Autologous Haematopoietic Stem Cell Transplantation (AHSCT) at Sheffield Teaching Hospitals" src="images/holly_drewry_sq.jpg">
              </div>
              
              <div class="col-md-6">
                <div class="jumbotron-inner block-with-image-inner">
                  <h1 class="cta">Autologous Haematopoietic Stem Cell Transplantation (AHSCT)</h1>
                  <p>If you wish to find out whether you may be suitable for this treatment, please read the information on this website carefully.</p> 
                  <p>If, after reading this information and discussing it with your MS team, you still feel that the treatment may be helpful you need to talk to your own neurologist or GP about a referral.</p> 
                  <p>
                    <a href="#about" class="btn btn-primary" role="button">About the treatment</a>
                    <%= link_to "Frequently Asked Questions", "frequently-asked-questions.html", class: "btn btn-wire", title: "Frequently Asked Questions" %>
                  </p>    
                </div>
              </div>
            </div>
          </section>
        </div>
      
    </div>
  </div>
</section>

<section id="about">
 <div class="container">
  <div class="row">
    
    <div class="col-md-7">
      <h2>What Is Autologous Haematopoietic Stem Cell Transplantation (AHSCT)?</h2>
      <p class="lead">The aim of AHSCT is to ‘reset’ the immune system to stop it from attacking the body.</p>
      <p> Haematopoietic stem cells are not the type of stem cells that would be expected to change into or regenerate permanently damaged parts of the brain and spinal cord.</p>
      <p>The AHSCT treatment uses high doses of chemotherapy and monoclonal antibody treatments, and therefore is more intensive and higher risk than most other MS treatments.</p>
      <p>We are currently able to offer treatment for patients with Relapsing-Remitting Multiple Sclerosis, Stiff Person Syndrome and Progressive Encephalomyelitis with Rigidity and Myoclonus.</p>
      <p>You can find out further details below:</p>
      <p>
        <a href="#MS" class="btn btn-primary" role="button">Multiple Sclerosis</a>
        <a href="#sps" class="btn btn-primary" role="button">Stiff Person Syndrome</a>
      </p>
      <p>
        <%= link_to "Frequently Asked Questions", "frequently-asked-questions.html", class: "btn btn-wire", title: "Frequently Asked Questions" %>
      </p>
      
      
      
      
      <section class="treatment" id="MS">
        <h3>Multiple Sclerosis</h3>
        <div class="block block-info">
          <h4>Requirements</h4>
          <ul>
            <li>Have Multiple Sclerosis—Active Relapsing Remitting</li>
            <li>Completed <%= link_to "referral form", "documents/AHSCT Letter MS.docx", title: "Multiple Sclerosis Referral Form" %> from your Consultant Neurologist, GP, or equivalent Medical Practitioner</li>
          </ul>
        </div>
        <h4 class="subtle">Background</h4>
        <p>Clinical trials conducted so far suggest that AHSCT may be able reduce relapses and to stabilise or reduce the level of disability for some people with relapsing remitting multiple sclerosis.</p>
        <p>People with highly active relapsing-remitting MS seem to have the best response to the treatment.</p>
        <p>Unfortunately the trials performed to date show that AHSCT does not work well in primary and secondary progressive multiple sclerosis. In view of this data, at Sheffield Teaching Hospitals NHS Trust we are only treating people with relapsing remitting multiple sclerosis.</p>
        <h4 class="subtle">Eligibility</h4>
        <p>If you and your neurologist feel that you have primary or secondary progressive multiple sclerosis it is very unlikely that AHSCT will be helpful for you, and we are not able to offer treatment for these patients.</p>
        <p>A small number of people have been treated at Sheffield Teaching Hospitals NHS Foundation Trust with AHSCT outside of a clinical trial setting. These were people with very aggressive relapsing remitting multiple sclerosis, who had very frequent and severe relapses which could not be controlled with disease modifying drugs, who we think have the best chance of success with this treatment.</p>
        <p>If you are interested in AHSCT you should speak to your neurologist before contacting the team at Sheffield Teaching Hospitals NHS Foundation Trust. The procedure is high risk so if your neurologist is advising against AHSCT it may be because it is unlikely to be effective in your circumstances based on current research.</p>
        <h4 class="subtle">Referrals</h4>
        <p>Please check against the above eligibility criteria first. If you believe you are suitable for AHSCT treatment, then follow the instructions below.</p>
        <p>Please download a copy of the letter below and read it fully. It provides further information on the application &amp; treatment process for AHSCT.</p>
        <p>Your Consultant Neurologist, GP, or equivalent Medical Practitioner will need to fill out the referral form included. Please return completed forms as instructed in the letter.</p>
        
        <p>
          <%= link_to "Multiple Sclerosis Referral Form", "documents/AHSCT Letter MS.docx", title: "Multiple Sclerosis Referral Form", class: "btn btn-success", target: "_blank" %>
        </p>
        
        <div class="block" id="referrals-ms">
          <h5>Referrals</h5>
          <p>To access this service please ensure you have:</p>
          <ul class="list-checklist">
            <li>Read and understood the criteria above</li>
            <li>Talked to your Consultant Neurologist, GP, or equivalent Medical Practitioner about eligibility</li>
            <li>Provided them with the <%= link_to "referral form", "documents/AHSCT Letter MS.docx", title: "Multiple Sclerosis Referral Form" %> for them to complete as instructed in the document.</li>
          </ul>
        </div>
      
      </section>
      
      <section class="treatment" id="sps">
        <h3>Stiff Person Syndrome / Progressive Encephalomyelitis with Rigidity and Myoclonus</h3>
        <div class="block block-info">
          <h4>Requirements</h4>
          <ul>
            <li>Have a diagnosis of Stiff Person Syndrome or Progressive Encephalomyelitis with Rigidity and Myoclonus</li>
            <li>Completed <%= link_to "referral form", "documents/AHSCT Letter SPS.docx", title: "Stiff Person Syndrome Referral Form" %> from your Consultant Neurologist, GP, or equivalent Medical Practitioner</li>
          </ul>
        </div>
        <h4 class="subtle">Background</h4>
        <p>While still a novel method of treatment for Stiff Person Syndrome , there have been well reported cases of patients receiving treatment that has led to a remission of symptoms over a sustained period of time.</p>
        <p>The process remains experimental, and clinical trails are ongoing. However, we are able to offer treatment to a limited number of patients at our Hospitals.</p>
        <h4 class="subtle">Eligibility</h4>
        <p> To be able to offer treatment, any patient must have a diagnosis of Stiff Person Syndrome or Progressive Encephalomyelitis with Rigidity and Myoclonus (PERM), refractory to treatment with IVIG and or plasmapheresis. </p>
        <h4 class="subtle">Referrals</h4>
        <p>Please check against the above eligibility criteria first. If you believe you are suitable for AHSCT treatment, then follow the instructions below.</p>
        <p>Please download a copy of the letter below and read it fully. It provides further information on the application &amp; treatment process for AHSCT.</p>
        <p>Your Consultant Neurologist, GP, or equivalent Medical Practitioner will need to fill out the referral form included. Please return completed forms as instructed in the letter.</p>
        
        <p>
          <%= link_to "Stiff Person Syndrome Referral Form", "documents/AHSCT Letter SPS.docx", title: "Stiff Person Syndrome Referral Form", class: "btn btn-success", target: "_blank" %>
        </p>
        
        <div class="block" id="referrals-sps">
          <h5>Referrals</h5>
          <p>To access this service please ensure you have:</p>
          <ul class="list-checklist">
            <li>Read and understood the criteria above</li>
            <li>Talked to your Consultant Neurologist, GP, or equivalent Medical Practitioner about eligibility</li>
            <li>Provided them with the <%= link_to "referral form", "documents/AHSCT Letter SPS.docx", title: "Stiff Person Syndrome Referral Form" %> for them to complete as instructed in the document.</li>
          </ul>
        </div>
      
      </section>
      
      
      </div>

    
    <div class="col-md-4 col-md-offset-1">
      <aside class="page-sidebar">
        
        <div class="block" id="sidebar-faq">
          <h4>Frequently asked Questions</h4>
          <ul class="list-unstyled">
            <li><%= link_to "What is Autologous Haematopoietic Stem Cell Transplantation (AHSCT)?", "frequently-asked-questions.html#1" %></li>
            <li><%= link_to "What are the benefits of the treatment?", "frequently-asked-questions.html#2" %></li>
            <li><%= link_to "What are the risks?", "frequently-asked-questions.html#3" %></li>
            <li><%= link_to "Does it work for progressive MS?", "frequently-asked-questions.html#4" %></li>
            <li><%= link_to "Should I be trying to get AHSCT?", "frequently-asked-questions.html#5" %></li>
            <li><%= link_to "Full list of questions", "frequently-asked-questions.html" %></li>
          </ul>
        </div>
        
        <div class="block" id="sidebar-faq">
          <h4>Contact details</h4>
          <ul class="list-unstyled">
            <li>Email: <a href="mailto:MsStemCell@sth.nhs.uk" target="_blank" title="Email us on MsStemCell@sth.nhs.uk">MsStemCell@sth.nhs.uk</a></li>
            <li>Tel: <a href="tel:01142266065" target="_blank" title="Call us on 0114 226 6065">0114 226 6065</a></li>
          </ul>
        </div>
        
      </aside>

    </div>
    

  </div>
</div>
</section>